body{
    background-color: $darker_grey;
    color: $white; 
}
.wrapper{
    background-color: $dark_grey;
    /* padding: 1rem 1rem; */
    width: 100%;
    height: 100vh;
    box-shadow: 0px 0px 20px -5px #111;
    overflow: hidden;
    display: grid;
    grid-template-areas: 
    "hd"
    "mn";
    grid-template-rows: 7rem auto;

    @include breakpoint(desktop){
        width: $global_max_width;
        height: calc(100vh - 3rem);
        
        margin:  1.5rem auto;
        border-radius: 20px;
    }
}

