$global_font_family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

$global_max_width: 400px;

$white: #f8f8f8;
$off_white: #7c7e85;
$lighter_grey: #4F535C;
$light_grey: #42474D;
$mid_grey: #303136;
$dark_grey: #212226;
$darker_grey: #18191D;
$black: #0c0c0c;


/* $lighter_grey: #e6c868;
$light_grey: #42474D;
$mid_grey: #312F51;
$dark_grey: #292841;
$darker_grey: #1C1B29;
$white: #f8f8f8; */



